@CHARSET "UTF-8";

.line p:first-line {
	color: red;
	font-weight: bold;
}
.letter p:first-letter {
	color: blue;
	font-weight: bold;
	font-size: 3em;
}

.a1:before {
	content: "문단의 시작"; color: red;
}

.a1:after {
	content: "문단의 끝"; color: blue;
}