@CHARSET "UTF-8";
body {
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
	padding: 10px;
}

li {
	display: inline;
	margin-right: 10px;	
}

li.coming-soon{
	display: none;
}

#div1 {
	color: gray;
	float: left;
	border-style: solid;
	border-width: 10px;
}

#div2{
	border-style: solid;
	border-width: 10px;
	float: left;
}	
td {
	background-color: #0088dd;
	border: 2px solid #000000;
}

.one {
	clear: left;
	border-spacing: 5px 15px;
	border-collapse: collapse;
}