@CHARSET "UTF-8";
body {
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
	padding: 10px;
}

.page {
	boder: 1px solid #665544;
	background-color: #efefef;
	padding: inherit;
	min-width: 500px;
	max-width: 600px;
	margin: 10px auto 10px auto;
}

.page .description {
	text-align: justify;
}